/* :root {
  --primitivesblack: rgba(0, 0, 0, 1);
  --primitivesgray-100: rgba(232, 232, 232, 1);
  --primitiveswhite: rgba(255, 255, 255, 1);
  --border-borderopaque: rgba(232, 232, 232, 1);
  --backgroundbackgroundprimary: rgba(255, 255, 255, 1);
  --primitivesred-50: rgba(255, 240, 238, 1);
  --deprecatedprimitivescobalt-700: rgba(5, 12, 77, 1);
  --content-contentprimary: rgba(0, 0, 0, 1);
  --inversecontentcontentinverseprimary: rgba(255, 255, 255, 1);
  --content-contentstatedisabled: rgba(166, 166, 166, 1);
  --background-backgroundtertiary: rgba(232, 232, 232, 1);
  --inverse-background-backgroundinverseprimary: rgba(0, 0, 0, 1);
  --backgroundbackgroundstatedisabled: rgba(243, 243, 243, 1);
  --backgrounddeprecatedbackgroundoverlaylight: rgba(0, 0, 0, 0.08);
  --heading-x-small-font-family: "UberMove-Bold", Helvetica;
  --heading-x-small-font-weight: 700;
  --heading-x-small-font-size: 20px;
  --heading-x-small-letter-spacing: 0.25px;
  --heading-x-small-line-height: 28px;
  --heading-x-small-font-style: normal;
  --label-small-font-family: "UberMove Text-Medium", Helvetica;
  --label-small-font-weight: 500;
  --label-small-font-size: 14px;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: 16px;
  --label-small-font-style: normal;
  --paragraph-small-font-family: "UberMove Text-Regular", Helvetica;
  --paragraph-small-font-weight: 400;
  --paragraph-small-font-size: 14px;
  --paragraph-small-letter-spacing: 0px;
  --paragraph-small-line-height: 20px;
  --paragraph-small-font-style: normal;
  --label-large-font-family: "UberMove Text-Medium", Helvetica;
  --label-large-font-weight: 500;
  --label-large-font-size: 18px;
  --label-large-letter-spacing: 0px;
  --label-large-line-height: 24px;
  --label-large-font-style: normal;
  --label-medium-font-family: "UberMove Text-Medium", Helvetica;
  --label-medium-font-weight: 500;
  --label-medium-font-size: 16px;
  --label-medium-letter-spacing: 0px;
  --label-medium-line-height: 20px;
  --label-medium-font-style: normal;
  --label-x-small-font-family: "UberMove Text-Medium", Helvetica;
  --label-x-small-font-weight: 500;
  --label-x-small-font-size: 12px;
  --label-x-small-letter-spacing: 0px;
  --label-x-small-line-height: 16px;
  --label-x-small-font-style: normal;
  --paragraph-x-small-font-family: "UberMove Text-Regular", Helvetica;
  --paragraph-x-small-font-weight: 400;
  --paragraph-x-small-font-size: 12px;
  --paragraph-x-small-letter-spacing: 0px;
  --paragraph-x-small-line-height: 20px;
  --paragraph-x-small-font-style: normal;
  --mono-paragraph-x-small-font-family: "UberMove Mono-Regular", Helvetica;
  --mono-paragraph-x-small-font-weight: 400;
  --mono-paragraph-x-small-font-size: 12px;
  --mono-paragraph-x-small-letter-spacing: 0px;
  --mono-paragraph-x-small-line-height: 20px;
  --mono-paragraph-x-small-font-style: normal;
  --mono-paragraph-small-font-family: "UberMove Mono-Regular", Helvetica;
  --mono-paragraph-small-font-weight: 400;
  --mono-paragraph-small-font-size: 14px;
  --mono-paragraph-small-letter-spacing: 0px;
  --mono-paragraph-small-line-height: 20px;
  --mono-paragraph-small-font-style: normal;
  --paragraph-medium-font-family: "UberMove Text-Regular", Helvetica;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-font-size: 16px;
  --paragraph-medium-letter-spacing: 0px;
  --paragraph-medium-line-height: 24px;
  --paragraph-medium-font-style: normal;
  --mono-paragraph-medium-font-family: "UberMove Mono-Regular", Helvetica;
  --mono-paragraph-medium-font-weight: 400;
  --mono-paragraph-medium-font-size: 16px;
  --mono-paragraph-medium-letter-spacing: 0px;
  --mono-paragraph-medium-line-height: 24px;
  --mono-paragraph-medium-font-style: normal;
  --paragraph-large-font-family: "UberMove Text-Regular", Helvetica;
  --paragraph-large-font-weight: 400;
  --paragraph-large-font-size: 18px;
  --paragraph-large-letter-spacing: 0px;
  --paragraph-large-line-height: 28px;
  --paragraph-large-font-style: normal;
  --mono-paragraph-large-font-family: "UberMove Mono-Regular", Helvetica;
  --mono-paragraph-large-font-weight: 400;
  --mono-paragraph-large-font-size: 18px;
  --mono-paragraph-large-letter-spacing: 0px;
  --mono-paragraph-large-line-height: 28px;
  --mono-paragraph-large-font-style: normal;
  --mono-label-x-small-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-label-x-small-font-weight: 500;
  --mono-label-x-small-font-size: 12px;
  --mono-label-x-small-letter-spacing: 0px;
  --mono-label-x-small-line-height: 16px;
  --mono-label-x-small-font-style: normal;
  --mono-label-small-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-label-small-font-weight: 500;
  --mono-label-small-font-size: 14px;
  --mono-label-small-letter-spacing: 0px;
  --mono-label-small-line-height: 16px;
  --mono-label-small-font-style: normal;
  --mono-label-medium-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-label-medium-font-weight: 500;
  --mono-label-medium-font-size: 16px;
  --mono-label-medium-letter-spacing: 0px;
  --mono-label-medium-line-height: 20px;
  --mono-label-medium-font-style: normal;
  --mono-label-large-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-label-large-font-weight: 500;
  --mono-label-large-font-size: 18px;
  --mono-label-large-letter-spacing: 0px;
  --mono-label-large-line-height: 24px;
  --mono-label-large-font-style: normal;
  --mono-heading-x-small-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-heading-x-small-font-weight: 500;
  --mono-heading-x-small-font-size: 20px;
  --mono-heading-x-small-letter-spacing: 0px;
  --mono-heading-x-small-line-height: 28px;
  --mono-heading-x-small-font-style: normal;
  --heading-small-font-family: "UberMove-Bold", Helvetica;
  --heading-small-font-weight: 700;
  --heading-small-font-size: 24px;
  --heading-small-letter-spacing: 0px;
  --heading-small-line-height: 32px;
  --heading-small-font-style: normal;
  --mono-heading-small-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-heading-small-font-weight: 500;
  --mono-heading-small-font-size: 24px;
  --mono-heading-small-letter-spacing: 0px;
  --mono-heading-small-line-height: 32px;
  --mono-heading-small-font-style: normal;
  --heading-medium-font-family: "UberMove-Bold", Helvetica;
  --heading-medium-font-weight: 700;
  --heading-medium-font-size: 28px;
  --heading-medium-letter-spacing: 0px;
  --heading-medium-line-height: 36px;
  --heading-medium-font-style: normal;
  --mono-heading-medium-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-heading-medium-font-weight: 500;
  --mono-heading-medium-font-size: 28px;
  --mono-heading-medium-letter-spacing: 0px;
  --mono-heading-medium-line-height: 36px;
  --mono-heading-medium-font-style: normal;
  --heading-large-font-family: "UberMove-Bold", Helvetica;
  --heading-large-font-weight: 700;
  --heading-large-font-size: 32px;
  --heading-large-letter-spacing: 0px;
  --heading-large-line-height: 40px;
  --heading-large-font-style: normal;
  --mono-heading-large-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-heading-large-font-weight: 500;
  --mono-heading-large-font-size: 32px;
  --mono-heading-large-letter-spacing: 0px;
  --mono-heading-large-line-height: 40px;
  --mono-heading-large-font-style: normal;
  --heading-x-large-font-family: "UberMove-Bold", Helvetica;
  --heading-x-large-font-weight: 700;
  --heading-x-large-font-size: 36px;
  --heading-x-large-letter-spacing: 0px;
  --heading-x-large-line-height: 44px;
  --heading-x-large-font-style: normal;
  --mono-heading-x-large-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-heading-x-large-font-weight: 500;
  --mono-heading-x-large-font-size: 36px;
  --mono-heading-x-large-letter-spacing: 0px;
  --mono-heading-x-large-line-height: 44px;
  --mono-heading-x-large-font-style: normal;
  --heading-XX-large-font-family: "UberMove-Bold", Helvetica;
  --heading-XX-large-font-weight: 700;
  --heading-XX-large-font-size: 40px;
  --heading-XX-large-letter-spacing: 0px;
  --heading-XX-large-line-height: 52px;
  --heading-XX-large-font-style: normal;
  --mono-heading-XX-large-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-heading-XX-large-font-weight: 500;
  --mono-heading-XX-large-font-size: 40px;
  --mono-heading-XX-large-letter-spacing: 0px;
  --mono-heading-XX-large-line-height: 52px;
  --mono-heading-XX-large-font-style: normal;
  --display-x-small-font-family: "UberMove-Bold", Helvetica;
  --display-x-small-font-weight: 700;
  --display-x-small-font-size: 36px;
  --display-x-small-letter-spacing: 0px;
  --display-x-small-line-height: 44px;
  --display-x-small-font-style: normal;
  --mono-display-x-small-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-display-x-small-font-weight: 500;
  --mono-display-x-small-font-size: 36px;
  --mono-display-x-small-letter-spacing: 0px;
  --mono-display-x-small-line-height: 44px;
  --mono-display-x-small-font-style: normal;
  --display-small-font-family: "UberMove-Bold", Helvetica;
  --display-small-font-weight: 700;
  --display-small-font-size: 44px;
  --display-small-letter-spacing: 0px;
  --display-small-line-height: 52px;
  --display-small-font-style: normal;
  --mono-display-small-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-display-small-font-weight: 500;
  --mono-display-small-font-size: 44px;
  --mono-display-small-letter-spacing: 0px;
  --mono-display-small-line-height: 52px;
  --mono-display-small-font-style: normal;
  --display-medium-font-family: "UberMove-Bold", Helvetica;
  --display-medium-font-weight: 700;
  --display-medium-font-size: 52px;
  --display-medium-letter-spacing: 0px;
  --display-medium-line-height: 64px;
  --display-medium-font-style: normal;
  --mono-display-medium-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-display-medium-font-weight: 500;
  --mono-display-medium-font-size: 52px;
  --mono-display-medium-letter-spacing: 0px;
  --mono-display-medium-line-height: 64px;
  --mono-display-medium-font-style: normal;
  --display-large-font-family: "UberMove-Bold", Helvetica;
  --display-large-font-weight: 700;
  --display-large-font-size: 96px;
  --display-large-letter-spacing: 0px;
  --display-large-line-height: 112px;
  --display-large-font-style: normal;
  --mono-display-large-font-family: "UberMove Mono-Medium", Helvetica;
  --mono-display-large-font-weight: 500;
  --mono-display-large-font-size: 96px;
  --mono-display-large-letter-spacing: 0px;
  --mono-display-large-line-height: 112px;
  --mono-display-large-font-style: normal;
  --pressed-state-overlay: ;
  --pressed-state-overlay-inverse: ;
} */
